<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ThoughtShare</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Favicon and touch icons -->
      <link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">

  </head>
  <body>

            {% block content %}
            {% endblock %}

    <footer>
        <div class="container">
          <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
              <div class="footer-border"></div>
              <p>Copyright © 2018 ThoughtShare <i class="fa fa-smile-o"></i></p>
            </div>

          </div>
        </div>
      </footer>

      <!-- Javascript -->
      <script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
      <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/scripts.js' %}"></script>

  </body>
</html>
